<p class="mt-4">Dodaj Zadanie</p>
<input type="text" name="todo" class="form-control" #todo (keydown.enter)="addToDo(todo.value)">
<button class="btn btn-primary mt-2" (click)="addToDo(todo.value)">Dodaj</button>

<div class="alert alert-warning alert-dismissible fade show mt-2" role="alert" *ngIf="ErrorMessage">
  {{ ErrorMessage}}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" (click)="clearErrorMesage()"></button>
</div>

<div class="mt-4">
  <h4>Lista Zadań</h4>
  <ul class="list-group todo-list" *ngIf="todos.length > 0 else noTask">
    <li class="list-group-item" *ngFor="let todo of todos; index as i">
      <input type="checkbox" class="form-check-input"
             [checked]="todo.isCompleted"
             (change)="changeToDoStatus(todo)"/>

<!--            [ngStyle]="{'text-decoration': todo.isCompleted ? 'line-through' : 'none'}"-->
      <span class="todo-item"
            [ngClass]="{'todo-myClass': todo.isCompleted}"
      >{{i+1}}. {{todo.name}}</span>
    </li>
  </ul>
  <ng-template #noTask>
    <h5>Brak Zadań Do Wykonania</h5>
  </ng-template>
</div>
